<div id="base" class="container padding-vert-30">
    <div class="row">
        <!-- Disclaimer -->
        <div class="col-md-6">
            <h3 class="margin-bottom-10">Disclaimer</h3>
            <p>All photos and content featured on this travel blog are either taken by us or credited appropriately. This blog is intended for inspiration and informational purposes only. Please do not use any content or images without permission.</p>
            <p>For inquiries or collaborations, feel free to reach out!</p>
            <div class="clearfix"></div>
        </div>
        <!-- End Disclaimer -->
        <!-- Contact Details -->
        <div class="col-md-3">
            <h3 class="margin-bottom-10">Contact Details</h3>
            <p>Wander With Us Blog
                <br />Ho Chi Minh City, VietNam
            </p>
            <p>Email:
                <a href="mailto:info@gmail.com">info@gmail.com</a>
                <br />Website:
                <a href="http://www.website.com">www.website.com</a>
            </p>
        </div>
        <!-- End Contact Details -->
        <!-- Sample Menu -->
        <div class="col-md-3">
            <h3 class="margin-bottom-10">Quick Links</h3>
            <ul class="menu">
                <li>
                    <a class="fa-tasks" href="#">Destinations</a>
                </li>
                <li>
                    <a class="fa-users" href="#">Food & Culture</a>
                </li>
                <li>
                    <a class="fa-signal" href="#">Itineraries</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- End Sample Menu -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- Footer Menu -->
<div id="footermenu" class="container">
    <div class="row">
        <div class="clearfix"></div>
    </div>
</div>
<!-- End Footer Menu -->
</div>
</div>
<div class="container padding-vert-30">
<div class="row">
<div id="copyright">
    <p>© 2025 Wander With Us. All rights reserved.</p>
</div>
</div>
</div>