<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Travel Blog Detail</title>
        <!-- Meta -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- Favicon -->
        <link href="favicon.ico" rel="shortcut icon">
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="css/bootstrap.css" rel="stylesheet">
        <!-- Template CSS -->
        <link rel="stylesheet" href="css/animate.css" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="css/nexus.css" rel="stylesheet">
        <link rel="stylesheet" href="css/responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="css/custom.css" rel="stylesheet">
        <!-- Google Fonts-->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans:300,400" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source Sans Pro:300,400" />
    </head>
    <body>
        <div id="body_bg">
            <!-- Include Header -->
            <%- include('partials/header') %>
                    <div class="container">
                        <!-- === BEGIN CONTENT === -->
                        <div class="row margin-vert-30">
                            <!-- Main Column -->
                            <div class="col-md-9">
                                <div class="blog-post">
                                    <div class="blog-item-header">
                                        <div class="blog-post-date pull-left">
                                            <span class="day">14</span>
                                            <span class="month">Dec</span>
                                        </div>
                                        <h2>
                                            <a href="#">
                                                A Night Under the Stars – Camping by the Lake
                                            </a>
                                        </h2>
                                        <div class="blog-post-details">
                                            <!-- Author Name -->
                                            <div class="blog-post-details-item blog-post-details-item-left user-icon">
                                                <i class="fa fa-user"></i>
                                                <a href="#">Admin</a>
                                            </div>
                                            <!-- End Author Name -->
                                            <!-- Tags -->
                                            <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags tags-icon">
                                                <i class="fa fa-tag"></i>
                                                <a href="#">Forest</a>
                                            </div>
                                            <!-- End Tags -->
                                            <!-- # of Comments -->
                                            <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last comments-icon">
                                                <a href="">
                                                    <i class="fa fa-comments"></i>
                                                    3 Comments
                                                </a>
                                            </div>
                                            <!-- End # of Comments -->
                                        </div>
                                    </div>
                                    <div class="blog-item">
                                        <div class="clearfix"></div>
                                        <div class="blog-post-body row margin-top-15">
                                            <div class="col-md-5">
                                                <img class="pull-left" src="img/blog/image1.jpg" alt="image1">
                                            </div>
                                            <div class="col-md-7">
                                                <p>There’s something magical about disconnecting from the chaos of daily life and spending a quiet evening by the water. 
                                                    This serene lakeside campsite was the perfect escape — with a cozy camper, a crackling fire, and a sky full of stars. 
                                                    The gentle sound of waves lapping against the shore created the ultimate soundtrack for a peaceful night. 
                                                    Whether you’re traveling solo or with friends, camping near a lake lets you reconnect with nature and find joy in life’s simplest moments.
                                                </p>
                                            </div>
                                            <div class="col-md-12">
                                                <p>
                                                    As the sun dipped below the horizon, it painted the sky in hues of orange and pink, casting a warm glow over the lake. 
                                                    The camper lights flickered gently, adding a touch of charm to the already picturesque scene. With a steaming mug of cocoa in hand and the scent of woodsmoke in the air, I felt completely at peace. 
                                                    Out here, away from the buzz of the world, time seemed to slow down — every moment felt fuller, more intentional. It’s in these quiet escapes that we’re reminded how little we actually need to feel truly content.
                                                </p>
                                                <blockquote class="primary">
                                                    <p>
                                                        <em>"In every walk with nature, one receives far more than he seeks."</em>
                                                    </p>
                                                    <small>
                                                        John Muir in
                                                        <cite title="Source Title">Source Title</cite>
                                                    </small>
                                                </blockquote>
                                                <p>
                                                    Later in the evening, the stars began to emerge, one by one, until the entire sky became a dazzling canvas of constellations. 
                                                    With no city lights to compete, the night sky revealed its full brilliance — a rare and humbling sight. 
                                                    I lay back in a camping chair, wrapped in a blanket, listening to the soft rustling of trees and the occasional call of a night bird. 
                                                    The world felt vast, yet incredibly intimate at the same time. In that stillness, it was easy to reflect, to dream, and to simply be.
                                                </p>
                                                <p>
                                                    There’s something timeless about moments spent in nature — they stay with you long after you’ve packed up and driven away. 
                                                    If you ever get the chance to escape to a quiet lakeside, take it. 
                                                    You might just find more than peace — you might find a part of yourself.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="blog-item-footer">
                                            <!-- About the Author -->
                                            <div class="blog-author panel panel-default margin-bottom-30">
                                                <div class="panel-heading">
                                                    <h3>About the Author</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <img class="pull-left" src="img/profiles/87.jpg" alt="image1">
                                                        </div>
                                                        <div class="col-md-10">
                                                            <label>Admin</label>
                                                            <p>Hi there! I'm Anna, a passionate traveler and adventure seeker. 
                                                                Through my blog, I share my journey of exploring new places, cultures, and experiences around the world. 
                                                                Whether it's discovering hidden gems, tasting unique cuisines, or diving into local traditions, my goal is to inspire you to pack your bags and start your own adventure. 
                                                                Join me as I explore the world, one blog post at a time!
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End About the Author -->
                                            <!-- Comments -->
                                            <div class="blog-recent-comments panel panel-default margin-bottom-30">
                                                <div class="panel-heading">
                                                    <h3>Comments</h3>
                                                </div>
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-2 profile-thumb">
                                                                <a href="#">
                                                                    <img class="media-object" src="img/profiles/99.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <h4>Great Article</h4>
                                                                <p>Absolutely love the peaceful vibe in this photo. Makes me want to pack my bags and go explore right now!</p>
                                                                <span class="date">
                                                                    <i class="fa fa-clock-o"></i>5 hours ago</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-2 profile-thumb">
                                                                <a href="#">
                                                                    <img class="media-object" src="img/profiles/53.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <h4>Such a beautiful journeys!</h4>
                                                                <p>Wow, this post is absolutely breathtaking! The way you’ve captured the serene beauty of the lake is truly mesmerizing. 
                                                                    I could almost feel the peaceful atmosphere through your words and images. The reflections on the water and the surrounding nature paint such a perfect picture of tranquility. 
                                                                    Your descriptions of the local culture and activities made me want to pack my bags and visit right away. Keep up the amazing work, and thank you for sharing such an inspiring experience!</p>
                                                                <span class="date">
                                                                    <i class="fa fa-clock-o"></i>12 May 2013</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-2 profile-thumb">
                                                                <a href="#">
                                                                    <img class="media-object" src="img/profiles/37.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <h4>Thank you!</h4>
                                                                <p>This view is breathtaking — it feels like a hidden gem waiting to be discovered. Thanks for sharing such a magical spot with us!</p>
                                                                <span class="date">
                                                                    <i class="fa fa-clock-o"></i>10 May 2013</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <!-- Comment Form -->
                                                    <li class="list-group-item">
                                                        <div class="blog-comment-form">
                                                            <div class="row margin-top-20">
                                                                <div class="col-md-12">
                                                                    <div class="pull-left">
                                                                        <h3>Leave a Comment</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row margin-top-20">
                                                                <div class="col-md-12">
                                                                    <form>
                                                                        <label>Name</label>
                                                                        <div class="row margin-bottom-20">
                                                                            <div class="col-md-7 col-md-offset-0">
                                                                                <input class="form-control" type="text">
                                                                            </div>
                                                                        </div>
                                                                        <label>Email
                                                                            <span>*</span>
                                                                        </label>
                                                                        <div class="row margin-bottom-20">
                                                                            <div class="col-md-7 col-md-offset-0">
                                                                                <input class="form-control" type="text">
                                                                            </div>
                                                                        </div>
                                                                        <label>Message</label>
                                                                        <div class="row margin-bottom-20">
                                                                            <div class="col-md-11 col-md-offset-0">
                                                                                <textarea class="form-control" rows="8"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <p>
                                                                            <button class="btn btn-primary" type="submit">Send Message</button>
                                                                        </p>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <!-- End Comment Form -->
                                                </ul>
                                            </div>
                                            <!-- End Comments -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End Blog Post -->
                            </div>
                            <!-- End Main Column -->
                            <!-- Side Column -->
                            <div class="col-md-3 margin-top-30">
                                <!-- Blog Tags -->
                                <div class="blog-tags">
                                    <h3>Tags</h3>
                                    <ul class="blog-tags">
                                        <li>
                                            <a href="#" class="blog-tag">Food</a>
                                        </li>
                                        <li>
                                            <a href="#" class="blog-tag">Restaurant</a>
                                        </li>
                                        <li>
                                            <a href="#" class="blog-tag">Island</a>
                                        </li>
                                        <li>
                                            <a href="#" class="blog-tag">Beach</a>
                                        </li>
                                        <li>
                                            <a href="#" class="blog-tag">Resort</a>
                                        </li>
                                        <li>
                                            <a href="#" class="blog-tag">LocalFood</a>
                                        </li>
                                        <li>
                                            <a href="#" class="blog-tag">Forest</a>
                                        </li>
                                        <li>
                                            <a href="#" class="blog-tag">History</a>
                                        </li>
                                        <li>
                                            <a href="#" class="blog-tag">Culture</a>
                                        </li>
                                        <li>
                                            <a href="#" class="blog-tag">Mountain</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Blog Tags -->
                                <!-- Recent Posts -->
                                <div class="recent-posts">
                                    <h3>Recent Posts</h3>
                                    <ul class="posts-list margin-top-10">
                                        <li>
                                            <div class="recent-post">
                                                <a href="">
                                                    <img class="pull-left" src="img/blog/thumbs/thumb1.jpg" alt="thumb1">
                                                </a>
                                                <a href="#" class="posts-list-title">Beautiful Lake</a>
                                                <br>
                                                <span class="recent-post-date">
                                                    July 30, 2013
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="recent-post">
                                                <a href="">
                                                    <img class="pull-left" src="img/blog/thumbs/thumb2.jpg" alt="thumb2">
                                                </a>
                                                <a href="#" class="posts-list-title">Michelin Food</a>
                                                <br>
                                                <span class="recent-post-date">
                                                    July 30, 2013
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="recent-post">
                                                <a href="">
                                                    <img class="pull-left" src="img/blog/thumbs/thumb3.jpg" alt="thumb3">
                                                </a>
                                                <a href="#" class="posts-list-title">Especial Pizza</a>
                                                <br>
                                                <span class="recent-post-date">
                                                    July 30, 2013
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="recent-post">
                                                <a href="">
                                                    <img class="pull-left" src="img/blog/thumbs/thumb4.jpg" alt="thumb4">
                                                </a>
                                                <a href="#" class="posts-list-title">Pristine Island</a>
                                                <br>
                                                <span class="recent-post-date">
                                                    July 30, 2013
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Recent Posts -->
                                <!-- End Side Column -->
                            </div>
                        </div>
                        <!-- === END CONTENT === -->
                    </div>
            <!-- Include Footer -->
            <%- include('partials/footer') %>
        </div>
        <!-- JS -->
        <script type="text/javascript" src="js/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
        <!-- Isotope - Portfolio Sorting -->
        <script type="text/javascript" src="js/jquery.isotope.js" type="text/javascript"></script>
        <!-- Mobile Menu - Slicknav -->
        <script type="text/javascript" src="js/jquery.slicknav.js" type="text/javascript"></script>
        <!-- Animate on Scroll-->
        <script type="text/javascript" src="js/jquery.visible.js" charset="utf-8"></script>
        <!-- Modernizr -->
        <script src="js/modernizr.custom.js" type="text/javascript"></script>
        <!-- End JS -->
    </body>
</html>